django==1.10.4
djangorestframework==3.5.3
jsonschema==2.5.1
psycopg2==2.6.2
redis==2.10.5
django-redis-cache==1.7.1
Pillow==3.4.2
django-versatileimagefield==1.6.2
gunicorn==19.6.0
setuptools==32.0.0
django-debug-toolbar
django-pagedown
